# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
.idea/
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/.idea/
android/android.iml
android/gradle.properties
android/local.properties
.flutter-plugins

ios/ServiceDefinitions.json
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace/xcuserdata

# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/
